.pass_navi {
  .pass_navi_list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0;
    justify-content: center;
    align-items: center;

    li {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      border-radius: 50%;
      height: 50px;
      margin: 0 2px;
      background-color: black;
      border: 2px solid white;
      transition: 0.2s;

      &.activeNav {
        border-color: yellow;
        color: yellow;
        height: 60px;
        width: 60px;
      }
      &.goodAnswer {
        border-color: green;
        color: green;
      }
      &.badAnswer {
        border-color: red;
        color: red;
      }
      &:hover {
        cursor: pointer;
        border-color: yellow;
        color: yellow;
        height: 60px;
        width: 60px;
      }
    }
  }

  @media (max-width: 700px) {
    .pass_navi_list li {
      height: 45px;
      width: 45px;
      &.ActiveNav {
        height: 35px;
        width: 35px;
      }
    }
  }
}

.allQue {
  display: flex;
  flex-direction: row;
  margin-top: 30px;

  .allQ_checbox {
    width: 50%;
    text-align: left;
    input {
      display: none;
    }
  }
  label {
    text-transform: uppercase;
    font-weight: bold;
    &:hover {
      color: green;
      font-size: larger;
      cursor: pointer;
    }
  }
  .showAllQuestionsList {
    position: absolute;
    left: 0;
    width: 80%;
    background-color: rgb(19, 19, 19);
    margin-left: 10%;
    margin-top: 30px;
    padding: 30px;
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      list-style: none;
      li {
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: black;
        border: 2px solid white;
        border-radius: 50%;
        margin: 4px 4px;
        transition: 0.3s;
        &.activeNav {
          border-color: yellow;
          color: yellow;
        }
        &.goodAnswer {
          border-color: green;
          color: green;
        }
        &.badAnswer {
          border-color: red;
          color: red;
        }
        &:hover {
          cursor: pointer;
          border-color: yellow;
          color: yellow;
          width: 55px;
          height: 55px;
        }
      }
      @media (max-width: 700px) {
        li {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
.changeAnswers {
  width: 50%;
  .setting {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: rgb(19, 19, 19);
    height: 210px;
    width: 100%;
    left: 0;
    button {
      transform: 0.2s;
      &:hover {
        color: white;
        background-color: rgb(8, 66, 124);
        border-color: rgb(8, 66, 124);
      }
    }
  }
}
