.App{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    width: 80%;
}

.App .page{
    flex-grow: 1;
    padding: 30px 0;
    text-align: center;
    color: white;
}

.App .nav{
    min-height: 75px;
}

.App .footer{
    padding: 10px 0;
    background-color: aqua;
    text-align: center;
    margin-bottom: 40px;
}

.buttons{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}
