.App .navigation{
    font-size: 20px;
}
.navigation ul{
    display: flex;
    list-style: none;
}

.navigation ul li{
    width: 25%;
}

.navigation li a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-decoration: none;
    background-color: black;
    transition: .2s;
    border-bottom: 4px solid black;
    color: white;
    min-height: 50px;
}

.navigation li a:hover{
    cursor: pointer;
    border-bottom-color: yellow;
    color: yellow;
}

