.pass_in_progress{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pass_in_progress_answer{
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    text-align: left;
    border-top: 3px solid yellow;
}

.pass_in_progress_answer h3{
    padding-top: 20px;
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 20px;
    background-color: #172227;
}

.pass_in_progress_answer label{
    min-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #172227;
    border-left: 10px solid #172227;
    font-size: 20px;
    transition: .2s;
}

.pass_in_progress_answer label:hover{
    opacity: 0.6;
    border-left-color: orange ;
    cursor: pointer;
}

.pass_in_progress_answer label input{
    display: none;
}

.pass_in_progress_answer .isChecked{
    border-left-color: green;
    background-color: rgb(46, 96, 46);
}
