.pass_result{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.pass_result_answer{
    margin: 20px 0;
    text-align: left;
    border-top: 5px solid yellow;
}

.buttons button{
    width: 40%;
    height: 50px;
    margin-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
}

.buttons div{
    width: 100%;
}
.pass_result_answer .pass_result_score{
    text-align: center;
    margin-top: 20px;
    border-bottom: 3px solid yellow;
    margin-bottom: 20px;
}

.pass_result .pass_result_answer h3{
    padding-left: 10px;
    padding-bottom: 20px;
    font-size: 20px;
}

.pass_result .pass_result_answer section{
    padding: 20px 0 20px 20px;
    border: 1px solid white;
    font-size: 18px;
}

.pass_result .pass_result_answer section em{
    font-size: 14px;
    margin-left: 30px;
    text-transform: uppercase;
}

.pass_result_answer .isFalse{
    background-color: red;
    opacity: 0.8;
}

.pass_result_answer .noValue{
    background-color: red;
    opacity: 0.6;
}

.pass_result_answer .goodA{
    background-color: green;
}