.pass_navi_list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.pass_navi_list li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 40px;
    min-width: 40px;
    width: 5%;
    height: 50px;
    background-color: black;
    border: 1px solid white;
    border-bottom: 2px solid white;
}

.pass_navi_list li:hover{
    cursor: pointer;
    border-bottom-color: yellow;
    color: yellow;
}

.pass_navi_list .activeNav{
    border-color: yellow;
    color: yellow;
}

.pass_result .pass_navi_list .goodAnswer{
    border-color: green;
    color: green;
}

.pass_result .pass_navi_list .badAnswer{
    border-color: red;
    color: red;
}