.test{
    display: flex;
    flex-direction: column;
}

.test label{
    min-height: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    background: #172227;
    border-left: 10px solid #172227;
    color: white;
}

.test h3{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    background-color: #172227;
    color: white;
}

.test label:hover{
    opacity: 0.6;
    border-left-color: orange ;
    cursor: pointer;
}

.test label.isChecked{
    border-left-color: green;
    background-color: rgb(46, 96, 46);
}
