@media (min-width: 700px) {
  .pass_navi {
    margin-top: 50px;
    .myArrow {
      padding: 20px;
    }
    .myLi {
      height: 55px;
      width: 55px;
      &.activeNav {
        height: 60px;
        width: 60px;
      }
    }
  }
}
@media (max-width: 700px) {
  .pass_navi {
    .myArrow {
      padding: 10px;
    }
    .myUl {
      li {
        height: 45px;
        width: 45px;
      }
    }
    .myLi {
      &.activeNav {
        height: 48px;
        width: 48px;
      }
    }
  }
}

.pass_navi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  .pass_navi_MoreMinus {
    display: flex;
  }
  .myArrow {
    border: 2px solid white;
    margin: 4px 4px;
    transition: 0.3s;
    &:hover {
      border-color: yellow;
      color: yellow;
      cursor: pointer;
    }
  }
  .myUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
  }
  .myLi {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    margin: 4px 4px;
    transition: 0.3s;
    &.activeNav {
      border-color: yellow;
      color: yellow;
      font-size: larger;
    }
    &.goodAnswer {
      border-color: green;
      color: green;
    }
    &.badAnswer {
      border-color: red;
      color: red;
    }
    &:hover {
      cursor: pointer;
      border-color: yellow;
      color: yellow;
      font-size: larger;
    }
  }
  .pass_navi_L {
    .pass_navi_list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .pass_navi_MoreP {
    display: flex;
    flex-direction: column;
  }
}
