.displayRowWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.pass_navi {
  @media (min-width: 701px) {
    margin-top: 50px;
  }
  .pass_navi_MoreMinus {
    display: flex;
  }

  .myArrow {
    padding: 20px;
    border: 2px solid white;
    margin: 4px 4px;
    transition: 0.3s;
    &:hover {
      border-color: yellow;
      color: yellow;
      cursor: pointer;
    }
    @media (max-width: 700px) {
      padding: 5px;
    }
  }
  .myUl {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    @media (max-width: 700px) {
      li {
        height: 45px;
        width: 45px;
      }
    }
  }
  .myLi {
    width: 55px;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 2px solid white;
    border-radius: 50%;
    margin: 4px 4px;
    transition: 0.3s;
    &.activeNav {
      border-color: yellow;
      color: yellow;
      height: 60px;
      width: 60px;
      font-size: larger;
      @media (max-width: 700px) {
        height: 48px;
        width: 48px;
      }
    }
    &.goodAnswer {
      border-color: green;
      color: green;
    }
    &.badAnswer {
      border-color: red;
      color: red;
    }
    &:hover {
      cursor: pointer;
      border-color: yellow;
      color: yellow;
      font-size: larger;
    }
  }
  .pass_navi_L {
    .pass_navi_list {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      text-align: center;
      padding: 0;
      justify-content: center;
      align-items: center;
    }
  }
  .pass_navi_MoreP {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  .changeAnswers {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    .changeSettings {
      position: fixed;
      z-index: 10;
      width: 100%;
      height: 40px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      label {
        margin-right: 5px;
      }
    }
  }
}
// .changeAnswers {
//
//
// .setting {
//   margin-top: 35px;
//   z-index: 1;
//   select {
//     margin-top: 10px;
//     cursor: pointer;
//   }
//   button {
//     transform: 0.2s;
//     &:hover {
//       color: white;
//       background-color: rgb(8, 66, 124);
//       border-color: rgb(8, 66, 124);
//     }
//   }
//   .yes_no {
//     padding-top: 20px;
//     display: flex;
//     flex-direction: column;

//     div {
//       display: flex;
//       align-items: center;
//       padding: 20px 0;
//       width: 100%;
//       flex-direction: row;
//       justify-content: center;
//       label {
//         margin: 0 20px;
//         font-size: 20px;
//         font-weight: bold;
//         &:hover {
//           cursor: pointer;
//           color: green;
//         }
//         &:nth-child(1):hover {
//           color: red;
//           cursor: pointer;
//         }
//       }
//     }
//   }
//   .settings_btn {
//     z-index: 1;
//     position: absolute;
//     background-color: #172227;
//     width: 55%;
//     min-height: 55%;
//     margin-top: 100px;
//     padding-bottom: 20px;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     button {
//       width: 80%;
//       height: 20%;
//       margin-bottom: 10px;
//       margin-left: 10%;
//       &:nth-child(1) {
//         text-align: center;
//         margin-left: 80%;
//         margin-top: 15px;
//         width: 30px;
//         height: 30px !important;
//         background-color: #172227;
//         border-color: #f8f9fa;
//         color: white;
//         font-weight: bold;
//         &:hover {
//           color: red;
//           border-color: red;
//         }
//       }
//     }
//     @media (min-width: 720px) {
//       width: 40%;
//       height: 80%;
//       button {
//         text-transform: uppercase;
//         margin-left: 30%;
//         width: 40%;
//         height: 40%;
//         &:nth-child(1) {
//           margin-top: 20px;
//           background-color: #172227;
//           border-color: #f8f9fa;
//           color: white;
//           &:hover {
//             color: red;
//             border-color: red;
//           }
//         }
//       }
//     }
//   }
// }
