@import "./subcomponents/SettingsOnOff/SettingsOnOff.scss";
@import "./subcomponents/SettingsPopup/SettingsPopup.scss";

.setting {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  z-index: 1;
  .yes_no {
    margin-top: 20px;
    div {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 15px 0;
      input {
        width: 40px;
        height: 20px;
      }
      .label_settings {
        margin: 0 10px;
      }
    }
  }
}

@media (max-width: 700px) {
  .settingsBackground {
    .setting {
      position: relative;
      background-color: rgb(19, 19, 19);
      padding: 0 40px 20px 40px;
      h4 {
        margin: 20px 0;
        font-size: larger;
        padding: 0 20px;
      }
      input {
        width: 100%;
      }
      .passSelect {
        width: 100%;
        select {
          margin-top: 10px;
          width: 100%;
        }
      }
      .settings_btn {
        width: 100%;
      }
    }
  }
}

@media (min-width: 700px) {
  .settingsBackground {
    display: flex;
    justify-content: flex-end;
    .setting {
      width: 50%;
      position: relative;
      background-color: rgb(19, 19, 19);
      h4 {
        padding: 10px 0;
      }
    }
  }
  .second {
    display: flex;
    align-items: center;
    width: 40%;
    padding: 20px 10px;
    align-items: center;
    background-color: rgb(19, 19, 19);
    .label_settings {
      background-color: rgb(19, 19, 19);
      &:hover {
        cursor: pointer;
      }
    }
  }
}
