.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0 auto;
  width: 80%;

  .page {
    flex-grow: 1;
    padding: 30px 0;
    text-align: center;
    color: white;
  }
  .nav {
    min-height: 75px;
  }
  .footer {
    padding: 10px 0;
    background-color: aqua;
    text-align: center;
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .App {
    width: 100vw;
  }
}

.form-switch {
  padding: 0;
}
